<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Pollination
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100925
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Event Handler</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "calander" %>
<%= stylesheet_link_tag "valid" %>
<%= calendar_date_select_includes 'red'%>
 <% require 'date' %>
</head>
<body>
<div id="wrapper">
	<div id="logo">
          <h1>Event Handler</h1>
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><span><%= link_to "Home",home_manage_path %></span></li>
			<li><%= link_to "Users",users_manage_path %> </li>
			<li><%= link_to "Events",event_manage_path %></li>
			<li><%= link_to "Cofig",config_manage_path %></li>
                        <li><%= link_to "About" %></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="header">
      <div id="search">
        <h3>Welcome <%= session[:name]%>|<%= link_to "Signout",logout_account_url %>  </h3>
        </div>
        </div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
                                   <%= error_messages_for :configuration,:header_message => "Invalid Entry!",:message => "Data not saved.You'll need to fix the following fields:"%>
					<div class="post">
                                          <h3><u>Email in use</u></h3>
                                          <% if Configuration.count> 0 %>
                                          <ol>
                                            <% @data.each do |a| %>
                                            <li>
                                              <%= a.email  %><%= link_to "Delete",delete_email_manage_path(:id=>a.id),:confirm=>"Do You Want To Delete ?" %>|<%= link_to_remote("Edit",:update=>"post_editemail",:url=>{:action=>"edit_email", :id=>a.id },:position=>"") %>
                                            </li>
                                            <% end %>
                                          </ol>
                                          <% else %>
                                          <h5>Empty email system.....</h5>
                                          <% end %>
					</div>
                                  <div class="post">
                                    <div id="post_editemail">
                                      
                                    </div>
                                  </div>

                                  <div class="post">
                                    <h3><u>Add  Email ID</u></h3><br /><br />
                                    <% form_tag(:action=>"add_email",:method=>"get") do %>
                                    <tr>
                                      <th>Email ID : </th><td><%= text_field :configuration,:email,:size=>"16" %> </td>
                                    </tr>
                                    <tr>
                                      <th></th><td><input type="submit" value="ADD" /> </td>
                                    </tr>

                                    <% end %>
                                  </div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
                                <%= calendar_date_select_tag "e_date_and_time", nil, :embedded => true, :time => true %>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>

<div id="footer">
	<p>Copyright (c). All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
